read_xml/record.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="recordType">
	  <xsd:sequence>
	    <xsd:element name="name" type="xsd:string"/>
	    <xsd:element name="value" type="xsd:string"/>
		<xsd:element ref="verdict"/>
		<xsd:element ref="date" minOccurs="0"/>
	  </xsd:sequence>
    </xsd:complexType>
  
  <xsd:element name="records">
    <xsd:complexType>
	  <xsd:sequence>
	    <xsd:element name="record" type="recordType" maxOccurs="unbounded"/>
	  </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

